body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.surface {
	 min-height: 528px;
	 padding:20px 0 30px;
}

.card {
  height: 100%;
}

.row {
	padding-top: 15px;
}

.order-item {
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
}
